*{
  overflow: hidden;
}
.body{
    display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  padding: 18%
}
#hex{
  font-family: "Work Sans";
  font-size: 2.5rem;
}
button{
  border-radius: 2em;
  padding: .7em;
  background-color: 	white;
  border: black .3em solid;
	outline: none;
  
}

button:hover{
  opacity: 3 ;
	background-color: lightgrey;
}
